@charset "utf-8";
@import url(mini-reset.css);

/* ----------------------------------- Allgemeines und Seitenkopf */

/* Regel für Seitenhintergrund, Schriftart */

/* Regel für zentrierten Bereich */

header h1 {
	position: absolute;
	color: #67819E;
	background-color: #292829;
	/* ... */
}
header h1 + p {
	position: absolute;
	color: #E8E9CB;
	background-color: #336789;
	/* ... */
}


/* ----------------------------------- Navigation */
nav {
	position: absolute;
	height: 40px;
	width: 100%;
	top: 240px;
	background-color: #8F8E93;
}
nav ol {
	width: 500px;
}

/* Regel, um Listenelemente nebeneinander darzustellen */

/* Regel für die Darstellung der Navigationslinks */

/* Navigationslinks sollen beim Mouseover die Hintergrundfarbe ändern */




/* ----------------------------------- Haupttext */

/* Mehrere Regeln für die Darstellung des Haupttexts */




/* ----------------------------------- Termin-Spalte */
aside {
	position: absolute;
	width: 220px;
	top: 240px;
	right: 50px;
	background-image: url(img/angebote_hg.jpg);
	/* ... */
}
aside h2 {
	height: 20px;
	padding: 12px 0 8px 15px;
	color: #E8E9CB;
	background-color: #366789;
}

/* Regeln für die Absätze mit den Terminen */

aside footer {
	position: absolute;
	/* ... */
}


/* ----------------------------------- Spezifische Korrekturen */

.js div { } /* apply only on JavaScript enabled browsers */
